[branch]
	autosetuprebase = always

[alias]
	a = add
	st = status
	ci = commit
	br = branch
	co = checkout
	hist = log --pretty=format:'%h %ad | %s%s [%am]' --graph --date=short
	lg = log --name=status
	who = shortlog -s --
	sc = show --name-status
	sw = switch
	type = cat-file -t
	dump = cat-file -p

[user]
	name = rizwan
	email = rzwn.hmd@gmail.com

[core]
	editor = nvim
	pager = delta

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only --features=interactive

[merge]
	conflictstyle = zdiff3
	tool = vimdiff
	prompt = false

[diff]
	colorMoved = default

[delta]
	navigate = true
	dark = true
	features = decorations
	line-numbers = true
	side-by-side = true

[delta "interactive"]
	keep-plus-minus-markers = false

[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hund-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax
