[Unit]
Description=kmonad keyboard config

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/kmonad /home/riz/.config/kmonad/layout.kbd
Nice=-20
User=riz
Environment=LC_CTYPE=en_US.UTF-8 de_DE.UTF-8

[Install]
WantedBy=default.target
